body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("fond4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    text-shadow: black 0.1em 0.2em 0.2em;
}

h3 {
    font-style: italic;

}

NAV {
    font-style: italic;
    

}

HEADER {
    font-style: italic;
}

FOOTER {
    font-style: italic;
}
