body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("fond1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    text-shadow: black 0.5em 0.5em 0.5em;
    font-style: italic;
}

footer {
    margin-top: 30px;
}

#entete {
    font-size: large;
}

.list-group {
    opacity: 0.9;
}

.navbar {
    opacity: 0.9;
}
